body {
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    color: #333;
    line-height: 200%;
}

.body {
    padding: 2%;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 0%;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(123,198,199,0.8);
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 15px 25px;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.9);
    font-size: 18px;
}

.card:hover {
    background-color: #F2E1DE;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero img {
    width: 180px;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card-f {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.card-f a {
    text-decoration: none;
    color: inherit;
}

section {
    display: flexbox;
    flex-direction: column;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #1e3a8a;
    color: white;
    margin-top: 5%;
}

.github {
    text-align: right;
    align-items: center;
}