body {
    font-family: sans-serif;
    color: black;
    padding: 3%;
}

.contenedor-columnas {
    display: flex;   
    list-style: none;         
    padding: 0;
    margin: 0;
    width: 100%;
}

.columna {
    background-color: rgba(123, 198, 199, 0.8);
    padding: 2%;
    flex: 1;         
    border-right: 1px solid white;
}

.columna h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
}

.columna p {
    font-size: 16px;
    line-height: 1.4;
}