.contenedor-cadro {
    background-color: rgba(193,219,210,1.00);
    font-family: sans-serif;
    display: inline-flex;
    padding: 0;
    margin: 0;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}