.contenedor {
    display: flex;
    padding: 0;
    margin: 0;
    height: 40%;
    gap: 2px;
}

.sidebar {
    background-color: rgba(123,198,199,0.8);
    font-family: sans-serif;
    flex-grow: 1;
    padding:12px
}

.sidebar h2 {
    font-size: 16px;
}

.sidebar p {
    font-size: 14px;
}

.contido {
    background-color:aqua;
    font-family: sans-serif;
    flex-grow: 3;
    padding: 12px;
}

.contido h2 {
    font-size: 16px;
}

.contido p {
    font-size: 14px;
}